<html>
    <head>
        <body>
            <h1>
                hello from handlebars
                {{title}}
            </h1>
            <ul>
                {{#each list}}
                    <li>{{this}} </li>
                {{/each}}
            </ul>
        </body>
    </head>
</html>
